
spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    show-sql: true

cloudinary:
  cloud_name: ${CLOUD_NAME_CLOUDINARY}
  api_key: ${API_KEY_CLOUDINARY}
  api_secret: ${API_SECRET_CLOUDINARY}