body {
    background-color: #f5f5f5;
}

h1 {
    color: red;
}
img {
    transition: transform 0.2s ease;
}

.img-size {
    height: 350px;        /* chiều cao cố định */
    /*object-fit: cover;   !* cắt ảnh cho vừa khung *!*/
}

/*a:hover img {*/
/*    transform: scale(1.05);*/
/*}*/

.category-item:hover p {
    color: black; /* xanh bootstrap */
}

.category-box {
    background-color: #f5f5f5;
    border-radius: 16px;
    padding: 16px;
    transition: background-color 0.25s ease;
}

/* Hover effect */
.category-item:hover .category-box {
    background-color: #3ddc97; /* xanh giống ảnh */
}

/* san pham noi bat*/

.suggest-section {
    padding: 40px 0;
    text-align: center;
}

.title {
    font-size: 36px;
    font-weight: 700;
}

.tabs {
    margin: 20px 0;
}

.tab {
    border: none;
    padding: 10px 18px;
    border-radius: 20px;
    background: #f1f1f1;
    margin: 0 5px;
    cursor: pointer;
}

.tab.active {
    background: #2dff8b;
    font-weight: 600;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin-top: 30px;
}

.product-card {
    border: 1px solid #eee;
    border-radius: 20px;
    padding: 15px;
    text-align: left;
    transition: 0.3s;
}

.product-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.product-card img {
    width: 100%;
    height: 180px;
    object-fit: contain;
}

.badge {
    background: #e8fff1;
    color: #0a8f4c;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 12px;
    margin: 10px 0;
}

.badge span {
    display: block;
    font-size: 10px;
}

.price {
    margin-top: 10px;
}

.current {
    color: red;
    font-weight: 700;
}

.old {
    text-decoration: line-through;
    color: #999;
    margin-left: 5px;
    font-size: 13px;
}

.discount {
    background: #ff3b3b;
    color: white;
    padding: 2px 6px;
    border-radius: 10px;
    font-size: 12px;
    margin-left: 5px;
}
