<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Product</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
<div th:replace="~{admin/navbar-admin}"></div>
<div class="container">
    <div class="row mt-3">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Thumbnail</th>
                <th scope="col">Name</th>
                <th scope="col">Base Price</th>
                <th scope="col">Sale Price</th>
                <th scope="col">Stock</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="product, status : ${page.content}">
                <tr>
                    <th scope="row" th:text="${status.count}"></th>
                    <td>
                        <img class="rounded" th:src="${product.thumbnail}" width="160px">
                    </td>
                    <td class="fw-medium" th:text="${product.name}"></td>
                    <td th:text="${#numbers.formatDecimal(product.basePrice, 0, 'POINT', 0, 'COMMA')} + ' đ'"></td>
                    <td th:text="${#numbers.formatDecimal(product.salePrice, 0, 'POINT', 0, 'COMMA')} + ' đ'"></td>
                    <td th:text="${product.stock}"></td>
                    <td>
                        <a th:href="@{|/admin/product/${product.id}|}" class="btn btn-warning">Edit</a>
                        <button th:data-id="${product.id}" class="btn btn-danger btn-delete">Delete</button>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <!-- Pagination -->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link"
                       th:classappend="${page.isFirst() ? 'disabled' : ''}"
                       th:href="@{|/admin/product/list?page=${page.number}|}"
                    >Previous</a>
                </li>
                <li class="page-item"
                    th:each="i : ${#numbers.sequence(1, page.getTotalPages())}"
                    th:classappend="${i == page.number + 1 ? 'active' : ''}"
                >
                    <a class="page-link" th:href="@{|/admin/product/list?page=${i}|}" th:text="${i}"></a>
                </li>
                <li class="page-item">
                    <a class="page-link"
                       th:href="@{|/admin/product/list?page=${page.number + 2}|}"
                       th:classappend="${page.isLast() ? 'disabled' : ''}"
                    >Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<script>
    document.querySelectorAll(".btn-delete").forEach(btn => {
        btn.addEventListener("click", (e) => {
            const productId = e.currentTarget.getAttribute('data-id');
            Swal.fire({
                title: "Bạn có muốn xóa sản phẩm này?",
                text: "Khi xóa sản phẩm sẽ không tồn tại",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Delete"
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch(`/products/${productId}`, { method: "DELETE" })
                        .then(res => res.json())
                        .then(result => {
                            Swal.fire({
                                title: "Deleted!",
                                text: result.message,
                                icon: "success"
                            });
                            window.location.href = "/admin/product/list";
                        })
                }
            });
        })
    })
</script>
</body>
</html>